.containerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;


    .form {
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;

        .inputForm {
            width: 100%;
            border: none;
            outline: none;
            font-size: 18px;
        }

        .buttonForm:hover {
            background-color: #9C5BFF;
        }
    }

    .dateResult {
        position: absolute;
        top: 170px;
        width: 300px;
        font-size: 20px;
        margin-top: 2px;
        background-color: #fafafa;
        border-radius: 5px;
        max-height: 300px;
        z-index: 800;
        overflow: hidden;

        overflow-y: auto;

        .dataItem {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 24px 32px;
            gap: 16px;
            cursor: pointer;
        }

        .dataItem:hover {
            background-color: #e9e9e9;
        }
    }

    .dateResult::-webkit-scrollbar {
        display: none;
    }
}