.Container--item {

    .item-conteudo {
        display: flex;
        flex-direction: column;
        padding-top: 5px;

        .item-conteudo-infos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap-reverse;
            margin-bottom: 50px;
        }

        .item-conteudo-inicio {}

        .mapa {
            text-align: center;
            margin: 0 auto;
            border-radius: 15px;

            .maps {
                margin-left: 30px;
                width: 800px;
                height: 400px;
                border: 1px solid #ccc;
                border-radius: 10px;
            }
        }
    }

}