@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.Side {
    width: 100%;
    margin: 0;
    height: 70px;
    padding: 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0;
    background: #fff;
    box-shadow: 0px 0.11px 3px #DD0AC8;

    .left {
        display: flex;
        align-items: center;

        .logo {
            width: 140px;
            margin: 7px 10px 0 10px;
        }

    }

    .menuHamburguer {
        .modalHamburguer {
            position: absolute;
            top: 71px;
            padding: 10px 5px 10px 13px;
            right: 0px;
            width: 100%;
            background-color: #01282e;
            z-index: 999;
            color: #fff;

            .modalNav {
                display: flex;
                justify-content: center;

                ul {
                    width: 100%;

                    li {
                        list-style-type: none;
                        text-align: center;
                        width: 100%;
                        cursor: pointer;
                        padding-bottom: 5px;
                        border-bottom: 2px solid rgba(121, 117, 117, 0.13);
                        margin-bottom: 20px;

                        a {
                            color: #FFF;
                            text-decoration: none;
                        }

                        a:visited {
                            color: #FFF;
                        }
                    }
                }

                ul>li {
                    margin-top: 20px;
                }

            }

        }
    }

    .middle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        text-align: center;

        .Form {
            display: flex;
            flex-direction: space-around;
            align-items: center;
            height: 50vh;
        }

        .Form::focus {
            position: absolute;
            top: 10px;
        }

        .login {
            .btn_login {
                height: 40px;
                margin-left: 10px;
                padding: 10px 10px;
                font-size: 16px;
                font-weight: 500;
                background-color: transparent;
                border-radius: 8px;
                border: 2px solid #9C5BFF;

                cursor: pointer;
            }

            .btn_login:hover {}
        }


        .lista {
            padding-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .optionsBar {
                display: flex;
                align-items: center;
            }

            a {
                text-decoration: none;
            }

            .item {
                display: flex;
                align-items: center;
                justify-content: center;

                .item-Icon {
                    font-size: 30px;
                }

                .icon-btn {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #1b1b1b;
                    background: white;
                    border-radius: 25px;
                    overflow: hidden;
                    position: relative;
                    transition: width 0.2s ease-in-out;
                    font-weight: 500;
                    font-family: inherit;
                    cursor: pointer;
                }

                .add-btn:hover {
                    width: 170px;
                }

                .add-btn::before,
                .add-btn::after {
                    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
                    content: "";
                    position: absolute;
                    height: 4px;
                    width: 10px;
                    top: calc(50% - 2px);
                    background: #1b1b1b;
                }

                .add-btn::after {
                    right: 10px;
                    overflow: hidden;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                .add-btn::before {
                    left: 10px;
                    overflow: hidden;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }

                .icon-btn:focus {
                    outline: none;
                }

                .btn-txt {
                    opacity: 0;
                    transition: opacity 0.2s;
                }

                .add-btn:hover::before,
                .add-btn:hover::after {
                    width: 4px;
                    border-radius: 2px;
                }

                .add-btn:hover .btn-txt {
                    opacity: 1;
                }

                .add-icon::after,
                .add-icon::before {
                    transition: all 0.2s ease-in-out;
                    content: "";
                    position: absolute;
                    height: 20px;
                    width: 3px;
                    top: calc(50% - 10px);
                    background: #1b1b1b;
                    overflow: hidden;

                    border-top-right-radius: 2px;

                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                .add-icon::before {
                    left: 18px;
                }

                .add-icon::after {
                    right: 18px;
                }

                .add-btn:hover .add-icon::before {
                    left: 15px;
                    height: 0px;
                    top: calc(50% - 2px);
                }

                .add-btn:hover .add-icon::after {
                    right: 15px;
                    height: 0px;
                    top: calc(50% - 2px);
                }
            }

            li {
                margin-left: 20px;
                list-style: none;
                color: black;
                cursor: pointer;

                .person {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    border-radius: 50%;

                    height: 45px;
                }
            }
        }
    }
}

.notificationIcon {
    position: relative;
}

.containerNotifc {
    margin-top: 40px;

    .notific {
        top: 71px;
        width: 400px;
        height: 400px;
        position: fixed;
        z-index: 999;
        right: 0;
        min-width: 200px;
        background-color: #e9e9e9;
        display: flex;
        border-radius: 10px;
    }

}

@media (max-width: 720px) {
    .middle {
        display: none !important;
    }

    .Side {
        justify-content: space-between;
    }
}

@media (min-width: 720px) {
    .menuHamburguer {
        display: none !important;
    }
}

@media (max-width: 220px) {
    .logo {
        display: none !important;
    }

    .menuHamburguer {
        margin: 0 auto;
    }
}